body {
    margin: 0;
    padding: 0;
    font: 12px "Microsoft Yahei";
    background: #fff;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
blockquote,
p {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

table,
td,
tr,
th {
    font-size: 12px;
}

li {
    list-style-type: none;
}

input,
button {
    margin: 0;
    padding: 0;
    outline: none;
    border: 0px none;
}

img {
    vertical-align: top;
    border: 0;
}

ol,
ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 12px;
    font-weight: normal;
}

address,
cite,
code,
em,
th {
    font-weight: normal;
    font-style: normal;
}

.fl {
    float: left;
}

/*左浮动*/
.fr {
    float: right;
}

/*右浮动*/
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/*清除浮动*/
a {
    color: #424242;
    text-decoration: none;
}

a:hover {
    color: #e9852d;
}