html {
  width: 100%;
  height: 100%;
}
.selected {
  background: rgba(109, 25, 148, 0.8);
  cursor: default !important;
}
.choose {
  display: block !important;
}
body {
  position: fixed;
  width: 100%;
  height: 100%;
}
body .bgc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(169, 102, 224, 0.4);
  z-index: 5;
  animation: changeto 1s linear infinite alternate;
}
body img {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
}
.code_download {
  position: absolute;
  top: 60%;
  width: 200px;
  height: 00px;
  border-radius: 0 20px 20px 0;
  background-color: rgba(109, 25, 148, 0.8);
  z-index: 100;
  text-align: center;
}
.code_download img {
  width: 160px;
  height: 160px;
}
.code_download p {
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  color: white;
}
.code_download span {
  position: absolute;
  top: -56px;
  left: 0;
  display: block;
  width: 50px;
  height: 50px;
  animation: move 3.6s linear alternate infinite;
}
.code_download span img {
  width: 100%;
  height: 100%;
}
@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  32% {
    transform: translate(200px, 0);
  }
  35% {
    transform: translate(200px, 0) rotate(90deg);
  }
  65% {
    transform: translate(200px, 250px) rotate(90deg);
  }
  68% {
    transform: translate(200px, 250px) rotate(0deg);
  }
  100% {
    transform: translate(0, 250px);
  }
}
@keyframes changeto {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
.login_window {
  position: absolute;
  top: 22%;
  left: 54%;
  z-index: 10;
  width: 40%;
  min-width: 512px;
  height: 370px;
  margin: 0 auto;
  background-color: rgba(53, 14, 71, 0.8);
}
.login_window .login_title {
  position: relative;
  display: flex;
  margin-bottom: 50px;
}
.login_window .login_title div {
  height: 80px;
  line-height: 80px;
  font-size: 26px;
  text-align: center;
  color: white;
  border-bottom: 3px dotted #eee;
  cursor: pointer;
}
.login_window .login_title .denglu {
  flex: 1;
}
.login_window .login_title .zhuce {
  flex: 1;
}
.login_window .login_title span {
  position: absolute;
  top: 6px;
  left: 49.5%;
  height: 66px;
  width: 6px;
  background: rgba(255, 255, 255, 0.7);
}
.login_window .login_content {
  display: none;
  position: relative;
  margin-left: 40px;
}
.login_window .login_content i {
  display: block;
}
.login_window .login_content i span {
  display: inline-block;
  color: white;
  width: 80px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: right;
}
.login_window .login_content i input {
  display: inline-block;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  margin: 30px 0 25px 20px;
  padding-left: 16px;
  font-size: 18px;
}
.login_window .login_content img {
  position: absolute;
  width: 180px;
  height: 66px;
  top: 6%;
  right: 3%;
  background-color: rgba(53, 14, 71, 0.8);
  border-radius: 50px;
}
.login_window .login_content button {
  position: absolute;
  right: 10%;
  bottom: 20%;
  display: block;
  width: 100px;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, white 0%, purple 100%);
  cursor: pointer;
}
.login_window .login_register {
  display: none;
  position: relative;
  margin-left: 30px;
}
.login_window .login_register i {
  display: block;
}
.login_window .login_register i span {
  display: inline-block;
  color: white;
  width: 120px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  text-align: right;
}
.login_window .login_register i input {
  display: inline-block;
  width: 200px;
  height: 30px;
  border-radius: 10px;
  margin: 8px;
  padding-left: 16px;
  font-size: 18px;
}
.login_window .login_register img {
  position: absolute;
  width: 180px;
  height: 66px;
  top: 6%;
  right: 3%;
  background-color: rgba(53, 14, 71, 0.8);
  border-radius: 50px;
}
.login_window .login_register button {
  position: absolute;
  right: 10%;
  bottom: 12%;
  display: block;
  width: 100px;
  height: 60px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, white 0%, purple 100%);
  cursor: pointer;
}
